.mainData {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 40px auto;
}
.bg h1 {
  text-align: center;
  font-size: 3rem;
}
.bg {
  margin: 90px auto;
}
.imgContainer img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

body {
  background-color: black;
  color: white;
  font-weight: 100;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 393px 1829px #fff, 1044px 17px #fff, 1751px 1299px #fff,
    1314px 1221px #fff, 785px 9px #fff, 258px 212px #fff, 1899px 1710px #fff,
    117px 832px #fff, 1826px 1237px #fff, 1806px 104px #fff, 1478px 456px #fff,
    584px 1481px #fff, 817px 926px #fff, 382px 1619px #fff, 1450px 942px #fff,
    94px 937px #fff, 278px 170px #fff, 1420px 1572px #fff, 1317px 1984px #fff,
    46px 1469px #fff, 632px 828px #fff, 1653px 15px #fff, 859px 968px #fff,
    1876px 117px #fff, 974px 852px #fff, 836px 803px #fff, 943px 87px #fff,
    209px 765px #fff, 1793px 1162px #fff, 910px 569px #fff, 1861px 460px #fff,
    372px 1516px #fff, 815px 814px #fff, 812px 527px #fff, 335px 1406px #fff,
    1453px 676px #fff, 540px 193px #fff, 879px 222px #fff, 337px 1697px #fff,
    1026px 138px #fff, 818px 1830px #fff, 950px 1432px #fff, 1148px 19px #fff,
    1334px 1962px #fff, 1446px 1918px #fff, 1037px 1320px #fff,
    1965px 886px #fff, 135px 796px #fff, 638px 1285px #fff, 585px 190px #fff,
    950px 507px #fff, 526px 185px #fff, 1892px 721px #fff, 691px 665px #fff,
    874px 1184px #fff, 1124px 434px #fff, 437px 165px #fff, 624px 1276px #fff,
    828px 1096px #fff, 503px 749px #fff, 1350px 1792px #fff, 377px 1713px #fff,
    1572px 571px #fff, 1598px 1737px #fff, 679px 848px #fff, 1535px 1711px #fff,
    1599px 250px #fff, 1101px 1039px #fff, 1731px 126px #fff, 1607px 1180px #fff,
    350px 1629px #fff, 186px 1634px #fff, 1451px 1804px #fff, 1067px 1933px #fff,
    1292px 200px #fff, 1656px 72px #fff, 1849px 164px #fff, 148px 1245px #fff,
    649px 952px #fff, 1437px 362px #fff, 1038px 283px #fff, 1329px 1294px #fff,
    645px 436px #fff, 1667px 1312px #fff, 470px 1136px #fff, 250px 1853px #fff,
    1238px 1517px #fff, 965px 1396px #fff, 1440px 919px #fff, 258px 241px #fff,
    1845px 1403px #fff, 785px 818px #fff, 1677px 1879px #fff, 276px 1px #fff,
    262px 566px #fff, 1866px 1882px #fff, 1644px 1902px #fff, 926px 1135px #fff,
    1297px 775px #fff, 156px 556px #fff, 1155px 808px #fff, 1993px 426px #fff,
    72px 105px #fff, 573px 190px #fff, 1684px 465px #fff, 715px 1724px #fff,
    1320px 558px #fff, 1063px 575px #fff, 1924px 1972px #fff, 276px 162px #fff,
    199px 1116px #fff, 1266px 1739px #fff, 1px 84px #fff, 890px 1269px #fff,
    1145px 760px #fff, 771px 704px #fff, 1136px 1515px #fff, 175px 1137px #fff,
    627px 1438px #fff, 503px 1265px #fff, 274px 1047px #fff, 1011px 1148px #fff,
    93px 802px #fff, 1664px 789px #fff, 1633px 55px #fff, 248px 1428px #fff,
    1622px 1156px #fff, 1174px 215px #fff, 1116px 1381px #fff, 1826px 437px #fff,
    327px 492px #fff, 1015px 1899px #fff, 199px 1892px #fff, 1844px 1374px #fff,
    269px 1184px #fff, 1051px 1743px #fff, 263px 1462px #fff, 1373px 1655px #fff,
    1861px 447px #fff, 313px 155px #fff, 567px 1549px #fff, 921px 1048px #fff,
    1792px 1646px #fff, 1218px 1134px #fff, 356px 608px #fff, 1261px 168px #fff,
    383px 1891px #fff, 332px 1048px #fff, 681px 529px #fff, 735px 548px #fff,
    1260px 1466px #fff, 166px 575px #fff, 1191px 1977px #fff, 1945px 1197px #fff,
    1887px 301px #fff, 1587px 923px #fff, 1316px 5px #fff, 543px 565px #fff,
    1669px 790px #fff, 666px 684px #fff, 1840px 1993px #fff, 216px 135px #fff,
    950px 465px #fff, 1395px 28px #fff, 786px 432px #fff, 929px 1804px #fff,
    791px 1761px #fff, 593px 1483px #fff, 1636px 680px #fff, 791px 79px #fff,
    1541px 381px #fff, 1208px 1682px #fff, 4px 1767px #fff, 1334px 830px #fff,
    1043px 896px #fff, 1756px 103px #fff, 1312px 205px #fff, 529px 1615px #fff,
    1938px 1781px #fff, 223px 357px #fff, 933px 1474px #fff, 353px 139px #fff,
    372px 1484px #fff, 148px 602px #fff, 1827px 409px #fff, 169px 1045px #fff,
    1473px 796px #fff, 433px 918px #fff, 1980px 566px #fff, 1770px 1008px #fff,
    74px 325px #fff, 82px 885px #fff, 572px 1076px #fff, 1168px 545px #fff,
    1020px 1480px #fff, 1945px 39px #fff, 611px 112px #fff, 1709px 221px #fff,
    1653px 813px #fff, 710px 72px #fff, 568px 124px #fff, 513px 954px #fff,
    1589px 705px #fff, 1717px 938px #fff, 405px 1724px #fff, 85px 100px #fff,
    988px 547px #fff, 1563px 1563px #fff, 1718px 1397px #fff, 705px 882px #fff,
    1510px 1006px #fff, 1081px 1408px #fff, 922px 1266px #fff, 60px 1807px #fff,
    739px 1643px #fff, 1757px 527px #fff, 1390px 261px #fff, 1740px 316px #fff,
    453px 485px #fff, 1585px 543px #fff, 375px 1824px #fff, 1414px 401px #fff,
    336px 657px #fff, 21px 1510px #fff, 1024px 572px #fff, 1713px 638px #fff,
    1616px 1118px #fff, 706px 1371px #fff, 1334px 1578px #fff, 529px 871px #fff,
    911px 173px #fff, 1037px 272px #fff, 1189px 788px #fff, 490px 540px #fff,
    286px 529px #fff, 137px 231px #fff, 452px 984px #fff, 1414px 272px #fff,
    591px 937px #fff, 452px 1025px #fff, 1376px 1040px #fff, 1881px 1813px #fff,
    1838px 108px #fff, 748px 1097px #fff, 1400px 1176px #fff, 1622px 1379px #fff,
    1109px 1657px #fff, 783px 1669px #fff, 1038px 1463px #fff, 1086px 294px #fff,
    1734px 1283px #fff, 1026px 438px #fff, 1678px 535px #fff, 1404px 1036px #fff,
    898px 666px #fff, 915px 1881px #fff, 1124px 1909px #fff, 1458px 281px #fff,
    586px 670px #fff, 611px 710px #fff, 371px 1176px #fff, 1148px 260px #fff,
    362px 1032px #fff, 251px 1911px #fff, 426px 1022px #fff, 1483px 22px #fff,
    1261px 1591px #fff, 540px 1714px #fff, 1053px 1862px #fff, 1799px 224px #fff,
    293px 122px #fff, 1341px 1527px #fff, 248px 1599px #fff, 1894px 1957px #fff,
    917px 925px #fff, 1708px 1585px #fff, 1783px 1634px #fff, 345px 1134px #fff,
    86px 892px #fff, 985px 462px #fff, 1006px 1626px #fff, 438px 444px #fff,
    932px 1299px #fff, 699px 671px #fff, 685px 885px #fff, 1369px 949px #fff,
    846px 739px #fff, 201px 915px #fff, 608px 801px #fff, 1764px 623px #fff,
    1243px 1872px #fff, 638px 784px #fff, 277px 274px #fff, 1851px 813px #fff,
    1616px 1591px #fff, 1278px 1230px #fff, 1755px 1201px #fff, 548px 682px #fff,
    1369px 1213px #fff, 136px 1430px #fff, 1477px 684px #fff, 663px 1790px #fff,
    1075px 493px #fff, 174px 1616px #fff, 1827px 166px #fff, 77px 50px #fff,
    1023px 1495px #fff, 643px 541px #fff, 294px 965px #fff, 1226px 1260px #fff,
    1308px 1665px #fff, 131px 1527px #fff, 252px 1362px #fff, 112px 1930px #fff,
    127px 8px #fff, 615px 277px #fff, 812px 943px #fff, 1351px 445px #fff,
    1076px 522px #fff, 372px 1120px #fff, 1394px 969px #fff, 220px 1180px #fff,
    1950px 805px #fff, 308px 669px #fff, 1637px 17px #fff, 367px 520px #fff,
    692px 1448px #fff, 1560px 1907px #fff, 1976px 718px #fff, 162px 1014px #fff,
    1895px 883px #fff, 997px 742px #fff, 348px 678px #fff, 806px 766px #fff,
    71px 983px #fff, 373px 11px #fff, 1251px 1637px #fff, 1670px 885px #fff,
    157px 85px #fff, 78px 1830px #fff, 1105px 352px #fff, 1392px 534px #fff,
    1238px 70px #fff, 968px 1374px #fff, 1872px 1740px #fff, 1045px 1434px #fff,
    20px 1771px #fff, 1872px 631px #fff, 1955px 1883px #fff, 1740px 658px #fff,
    1717px 1139px #fff, 983px 1729px #fff, 536px 351px #fff, 570px 300px #fff,
    598px 1779px #fff, 99px 1821px #fff, 715px 1171px #fff, 1897px 1162px #fff,
    247px 1233px #fff, 1932px 1714px #fff, 1460px 1714px #fff, 1834px 607px #fff,
    1104px 1959px #fff, 1117px 1190px #fff, 1205px 1302px #fff,
    1923px 1263px #fff, 936px 307px #fff, 1222px 1408px #fff, 861px 209px #fff,
    1777px 688px #fff, 110px 1144px #fff, 1637px 485px #fff, 335px 1665px #fff,
    1010px 326px #fff, 1577px 398px #fff, 825px 542px #fff, 1664px 1899px #fff,
    188px 1992px #fff, 740px 1069px #fff, 117px 941px #fff, 1490px 1583px #fff,
    1735px 1817px #fff, 1102px 52px #fff, 1684px 50px #fff, 1104px 76px #fff,
    1284px 963px #fff, 1062px 1818px #fff, 1774px 1397px #fff, 157px 1100px #fff,
    1419px 331px #fff, 1498px 1413px #fff, 667px 954px #fff, 1412px 1460px #fff,
    1026px 1072px #fff, 364px 689px #fff, 1800px 1341px #fff, 1958px 830px #fff,
    1487px 1739px #fff, 501px 1548px #fff, 1319px 735px #fff, 1186px 1388px #fff,
    850px 978px #fff, 1298px 1992px #fff, 1108px 314px #fff, 450px 769px #fff,
    1045px 1085px #fff, 1481px 1794px #fff, 544px 189px #fff, 888px 1130px #fff,
    97px 1942px #fff, 1610px 531px #fff, 110px 531px #fff, 1299px 1745px #fff,
    963px 1867px #fff, 493px 185px #fff, 1468px 1157px #fff, 522px 34px #fff,
    1529px 81px #fff, 559px 773px #fff, 350px 1810px #fff, 1652px 1926px #fff,
    183px 1614px #fff, 1199px 1373px #fff, 1895px 1625px #fff, 1987px 488px #fff,
    985px 1833px #fff, 216px 1568px #fff, 691px 1881px #fff, 1330px 392px #fff,
    1081px 1311px #fff, 81px 155px #fff, 267px 993px #fff, 20px 1136px #fff,
    659px 381px #fff, 120px 1615px #fff, 549px 502px #fff, 96px 1036px #fff,
    1326px 890px #fff, 1402px 290px #fff, 846px 971px #fff, 1345px 1887px #fff,
    4px 1157px #fff, 1744px 1957px #fff, 813px 1412px #fff, 201px 76px #fff,
    197px 218px #fff, 1838px 430px #fff, 1191px 367px #fff, 1790px 571px #fff,
    1850px 1861px #fff, 486px 97px #fff, 2000px 660px #fff, 1060px 1202px #fff,
    1525px 1212px #fff, 708px 1320px #fff, 1079px 267px #fff, 268px 1153px #fff,
    1628px 1755px #fff, 1352px 624px #fff, 1999px 175px #fff, 1582px 9px #fff,
    1319px 38px #fff, 986px 1156px #fff, 417px 1816px #fff, 429px 1719px #fff,
    1748px 318px #fff, 564px 681px #fff, 845px 1389px #fff, 1452px 1663px #fff,
    1232px 1924px #fff, 1723px 555px #fff, 1035px 1622px #fff, 692px 687px #fff,
    439px 89px #fff, 452px 738px #fff, 1601px 1549px #fff, 1412px 1953px #fff,
    271px 1379px #fff, 1885px 1070px #fff, 270px 1993px #fff, 909px 2000px #fff,
    1816px 634px #fff, 1599px 1667px #fff, 1037px 1989px #fff,
    1794px 1763px #fff, 137px 1173px #fff, 650px 690px #fff, 2000px 589px #fff,
    1203px 1856px #fff, 1316px 1507px #fff, 1580px 390px #fff, 967px 1916px #fff,
    890px 927px #fff, 168px 1799px #fff, 1340px 177px #fff, 1311px 525px #fff,
    1724px 436px #fff, 1012px 149px #fff, 1284px 349px #fff, 756px 985px #fff,
    476px 629px #fff, 629px 249px #fff, 42px 891px #fff, 529px 1420px #fff,
    1631px 1829px #fff, 964px 1459px #fff, 1800px 630px #fff, 1299px 1437px #fff,
    1723px 1507px #fff, 518px 69px #fff, 1041px 1231px #fff, 789px 1399px #fff,
    115px 1833px #fff, 202px 1945px #fff, 618px 64px #fff, 898px 752px #fff,
    309px 1475px #fff, 1301px 574px #fff, 16px 1133px #fff, 1435px 800px #fff,
    1495px 800px #fff, 901px 65px #fff, 1116px 631px #fff, 1070px 1073px #fff,
    13px 940px #fff, 437px 1295px #fff, 256px 1598px #fff, 615px 819px #fff,
    1482px 99px #fff, 1423px 1997px #fff, 639px 300px #fff, 779px 213px #fff,
    834px 1028px #fff, 756px 1863px #fff, 1930px 1429px #fff, 72px 1816px #fff,
    1659px 1132px #fff, 643px 1975px #fff, 1821px 1535px #fff,
    1887px 1802px #fff, 73px 587px #fff, 1260px 861px #fff, 1125px 1891px #fff,
    607px 136px #fff, 219px 1132px #fff, 1105px 443px #fff, 1204px 450px #fff,
    462px 1698px #fff, 156px 638px #fff, 655px 389px #fff, 914px 301px #fff,
    66px 315px #fff, 775px 1452px #fff, 1249px 1121px #fff, 224px 1997px #fff,
    750px 959px #fff, 1756px 1285px #fff, 1764px 1446px #fff, 1676px 1543px #fff,
    983px 708px #fff, 743px 167px #fff, 687px 936px #fff, 1282px 1707px #fff,
    1773px 1497px #fff, 226px 875px #fff, 1199px 471px #fff, 1864px 970px #fff,
    616px 1789px #fff, 1715px 1051px #fff, 1003px 1222px #fff, 1657px 286px #fff,
    1908px 1275px #fff, 191px 267px #fff, 1646px 1768px #fff, 735px 41px #fff,
    1387px 1384px #fff, 212px 1269px #fff, 20px 95px #fff, 810px 1841px #fff,
    162px 1560px #fff, 1591px 771px #fff, 1268px 83px #fff, 1615px 1270px #fff,
    649px 281px #fff, 452px 579px #fff, 1447px 845px #fff, 1562px 76px #fff,
    401px 1633px #fff, 1648px 1382px #fff, 1394px 168px #fff, 1770px 321px #fff,
    1089px 354px #fff, 1794px 1562px #fff, 905px 1258px #fff, 340px 1118px #fff,
    224px 1908px #fff, 156px 616px #fff, 1023px 1674px #fff, 803px 1656px #fff,
    1392px 819px #fff, 6px 957px #fff, 1510px 388px #fff, 301px 1552px #fff,
    1952px 586px #fff, 1606px 315px #fff, 990px 1242px #fff, 1192px 770px #fff,
    373px 823px #fff, 316px 11px #fff, 852px 653px #fff, 1001px 496px #fff,
    946px 454px #fff, 966px 422px #fff, 245px 788px #fff, 1412px 966px #fff,
    128px 582px #fff, 51px 1808px #fff, 1012px 1973px #fff, 593px 399px #fff,
    1531px 1190px #fff, 897px 1005px #fff, 1237px 924px #fff, 265px 1277px #fff,
    634px 960px #fff, 141px 1931px #fff, 783px 1746px #fff, 1225px 318px #fff,
    1548px 1723px #fff, 1728px 50px #fff, 1852px 922px #fff, 1963px 24px #fff,
    1282px 1639px #fff, 606px 864px #fff, 1732px 972px #fff, 609px 1112px #fff,
    1582px 404px #fff, 1922px 1554px #fff, 317px 973px #fff, 1157px 1876px #fff,
    1032px 1178px #fff, 1176px 393px #fff, 895px 1566px #fff, 737px 777px #fff,
    268px 737px #fff, 60px 1616px #fff, 183px 772px #fff, 454px 1104px #fff,
    1364px 1880px #fff, 159px 1889px #fff, 324px 901px #fff, 794px 197px #fff,
    1321px 1806px #fff, 912px 1913px #fff, 711px 562px #fff, 363px 392px #fff,
    916px 870px #fff, 1709px 837px #fff, 133px 510px #fff, 586px 145px #fff,
    1662px 297px #fff, 1282px 1043px #fff, 971px 1184px #fff, 1570px 552px #fff,
    959px 1889px #fff, 1432px 1772px #fff, 744px 1336px #fff, 666px 103px #fff,
    1626px 372px #fff, 1762px 947px #fff, 1661px 1620px #fff, 582px 563px #fff,
    1304px 83px #fff, 1744px 314px #fff, 1750px 198px #fff, 1482px 1813px #fff,
    1375px 1301px #fff, 986px 1012px #fff, 967px 711px #fff, 1587px 153px #fff,
    21px 625px #fff, 1706px 339px #fff, 354px 146px #fff, 1935px 250px #fff,
    189px 115px #fff, 1445px 465px #fff, 457px 915px #fff, 1853px 59px #fff,
    124px 1254px #fff, 983px 91px #fff, 1483px 1169px #fff, 25px 1482px #fff,
    1526px 1119px #fff, 1124px 1749px #fff, 78px 1091px #fff, 502px 571px #fff,
    1080px 1172px #fff, 82px 1113px #fff, 1281px 1345px #fff, 939px 185px #fff,
    1703px 1331px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 393px 1829px #fff, 1044px 17px #fff, 1751px 1299px #fff,
    1314px 1221px #fff, 785px 9px #fff, 258px 212px #fff, 1899px 1710px #fff,
    117px 832px #fff, 1826px 1237px #fff, 1806px 104px #fff, 1478px 456px #fff,
    584px 1481px #fff, 817px 926px #fff, 382px 1619px #fff, 1450px 942px #fff,
    94px 937px #fff, 278px 170px #fff, 1420px 1572px #fff, 1317px 1984px #fff,
    46px 1469px #fff, 632px 828px #fff, 1653px 15px #fff, 859px 968px #fff,
    1876px 117px #fff, 974px 852px #fff, 836px 803px #fff, 943px 87px #fff,
    209px 765px #fff, 1793px 1162px #fff, 910px 569px #fff, 1861px 460px #fff,
    372px 1516px #fff, 815px 814px #fff, 812px 527px #fff, 335px 1406px #fff,
    1453px 676px #fff, 540px 193px #fff, 879px 222px #fff, 337px 1697px #fff,
    1026px 138px #fff, 818px 1830px #fff, 950px 1432px #fff, 1148px 19px #fff,
    1334px 1962px #fff, 1446px 1918px #fff, 1037px 1320px #fff,
    1965px 886px #fff, 135px 796px #fff, 638px 1285px #fff, 585px 190px #fff,
    950px 507px #fff, 526px 185px #fff, 1892px 721px #fff, 691px 665px #fff,
    874px 1184px #fff, 1124px 434px #fff, 437px 165px #fff, 624px 1276px #fff,
    828px 1096px #fff, 503px 749px #fff, 1350px 1792px #fff, 377px 1713px #fff,
    1572px 571px #fff, 1598px 1737px #fff, 679px 848px #fff, 1535px 1711px #fff,
    1599px 250px #fff, 1101px 1039px #fff, 1731px 126px #fff, 1607px 1180px #fff,
    350px 1629px #fff, 186px 1634px #fff, 1451px 1804px #fff, 1067px 1933px #fff,
    1292px 200px #fff, 1656px 72px #fff, 1849px 164px #fff, 148px 1245px #fff,
    649px 952px #fff, 1437px 362px #fff, 1038px 283px #fff, 1329px 1294px #fff,
    645px 436px #fff, 1667px 1312px #fff, 470px 1136px #fff, 250px 1853px #fff,
    1238px 1517px #fff, 965px 1396px #fff, 1440px 919px #fff, 258px 241px #fff,
    1845px 1403px #fff, 785px 818px #fff, 1677px 1879px #fff, 276px 1px #fff,
    262px 566px #fff, 1866px 1882px #fff, 1644px 1902px #fff, 926px 1135px #fff,
    1297px 775px #fff, 156px 556px #fff, 1155px 808px #fff, 1993px 426px #fff,
    72px 105px #fff, 573px 190px #fff, 1684px 465px #fff, 715px 1724px #fff,
    1320px 558px #fff, 1063px 575px #fff, 1924px 1972px #fff, 276px 162px #fff,
    199px 1116px #fff, 1266px 1739px #fff, 1px 84px #fff, 890px 1269px #fff,
    1145px 760px #fff, 771px 704px #fff, 1136px 1515px #fff, 175px 1137px #fff,
    627px 1438px #fff, 503px 1265px #fff, 274px 1047px #fff, 1011px 1148px #fff,
    93px 802px #fff, 1664px 789px #fff, 1633px 55px #fff, 248px 1428px #fff,
    1622px 1156px #fff, 1174px 215px #fff, 1116px 1381px #fff, 1826px 437px #fff,
    327px 492px #fff, 1015px 1899px #fff, 199px 1892px #fff, 1844px 1374px #fff,
    269px 1184px #fff, 1051px 1743px #fff, 263px 1462px #fff, 1373px 1655px #fff,
    1861px 447px #fff, 313px 155px #fff, 567px 1549px #fff, 921px 1048px #fff,
    1792px 1646px #fff, 1218px 1134px #fff, 356px 608px #fff, 1261px 168px #fff,
    383px 1891px #fff, 332px 1048px #fff, 681px 529px #fff, 735px 548px #fff,
    1260px 1466px #fff, 166px 575px #fff, 1191px 1977px #fff, 1945px 1197px #fff,
    1887px 301px #fff, 1587px 923px #fff, 1316px 5px #fff, 543px 565px #fff,
    1669px 790px #fff, 666px 684px #fff, 1840px 1993px #fff, 216px 135px #fff,
    950px 465px #fff, 1395px 28px #fff, 786px 432px #fff, 929px 1804px #fff,
    791px 1761px #fff, 593px 1483px #fff, 1636px 680px #fff, 791px 79px #fff,
    1541px 381px #fff, 1208px 1682px #fff, 4px 1767px #fff, 1334px 830px #fff,
    1043px 896px #fff, 1756px 103px #fff, 1312px 205px #fff, 529px 1615px #fff,
    1938px 1781px #fff, 223px 357px #fff, 933px 1474px #fff, 353px 139px #fff,
    372px 1484px #fff, 148px 602px #fff, 1827px 409px #fff, 169px 1045px #fff,
    1473px 796px #fff, 433px 918px #fff, 1980px 566px #fff, 1770px 1008px #fff,
    74px 325px #fff, 82px 885px #fff, 572px 1076px #fff, 1168px 545px #fff,
    1020px 1480px #fff, 1945px 39px #fff, 611px 112px #fff, 1709px 221px #fff,
    1653px 813px #fff, 710px 72px #fff, 568px 124px #fff, 513px 954px #fff,
    1589px 705px #fff, 1717px 938px #fff, 405px 1724px #fff, 85px 100px #fff,
    988px 547px #fff, 1563px 1563px #fff, 1718px 1397px #fff, 705px 882px #fff,
    1510px 1006px #fff, 1081px 1408px #fff, 922px 1266px #fff, 60px 1807px #fff,
    739px 1643px #fff, 1757px 527px #fff, 1390px 261px #fff, 1740px 316px #fff,
    453px 485px #fff, 1585px 543px #fff, 375px 1824px #fff, 1414px 401px #fff,
    336px 657px #fff, 21px 1510px #fff, 1024px 572px #fff, 1713px 638px #fff,
    1616px 1118px #fff, 706px 1371px #fff, 1334px 1578px #fff, 529px 871px #fff,
    911px 173px #fff, 1037px 272px #fff, 1189px 788px #fff, 490px 540px #fff,
    286px 529px #fff, 137px 231px #fff, 452px 984px #fff, 1414px 272px #fff,
    591px 937px #fff, 452px 1025px #fff, 1376px 1040px #fff, 1881px 1813px #fff,
    1838px 108px #fff, 748px 1097px #fff, 1400px 1176px #fff, 1622px 1379px #fff,
    1109px 1657px #fff, 783px 1669px #fff, 1038px 1463px #fff, 1086px 294px #fff,
    1734px 1283px #fff, 1026px 438px #fff, 1678px 535px #fff, 1404px 1036px #fff,
    898px 666px #fff, 915px 1881px #fff, 1124px 1909px #fff, 1458px 281px #fff,
    586px 670px #fff, 611px 710px #fff, 371px 1176px #fff, 1148px 260px #fff,
    362px 1032px #fff, 251px 1911px #fff, 426px 1022px #fff, 1483px 22px #fff,
    1261px 1591px #fff, 540px 1714px #fff, 1053px 1862px #fff, 1799px 224px #fff,
    293px 122px #fff, 1341px 1527px #fff, 248px 1599px #fff, 1894px 1957px #fff,
    917px 925px #fff, 1708px 1585px #fff, 1783px 1634px #fff, 345px 1134px #fff,
    86px 892px #fff, 985px 462px #fff, 1006px 1626px #fff, 438px 444px #fff,
    932px 1299px #fff, 699px 671px #fff, 685px 885px #fff, 1369px 949px #fff,
    846px 739px #fff, 201px 915px #fff, 608px 801px #fff, 1764px 623px #fff,
    1243px 1872px #fff, 638px 784px #fff, 277px 274px #fff, 1851px 813px #fff,
    1616px 1591px #fff, 1278px 1230px #fff, 1755px 1201px #fff, 548px 682px #fff,
    1369px 1213px #fff, 136px 1430px #fff, 1477px 684px #fff, 663px 1790px #fff,
    1075px 493px #fff, 174px 1616px #fff, 1827px 166px #fff, 77px 50px #fff,
    1023px 1495px #fff, 643px 541px #fff, 294px 965px #fff, 1226px 1260px #fff,
    1308px 1665px #fff, 131px 1527px #fff, 252px 1362px #fff, 112px 1930px #fff,
    127px 8px #fff, 615px 277px #fff, 812px 943px #fff, 1351px 445px #fff,
    1076px 522px #fff, 372px 1120px #fff, 1394px 969px #fff, 220px 1180px #fff,
    1950px 805px #fff, 308px 669px #fff, 1637px 17px #fff, 367px 520px #fff,
    692px 1448px #fff, 1560px 1907px #fff, 1976px 718px #fff, 162px 1014px #fff,
    1895px 883px #fff, 997px 742px #fff, 348px 678px #fff, 806px 766px #fff,
    71px 983px #fff, 373px 11px #fff, 1251px 1637px #fff, 1670px 885px #fff,
    157px 85px #fff, 78px 1830px #fff, 1105px 352px #fff, 1392px 534px #fff,
    1238px 70px #fff, 968px 1374px #fff, 1872px 1740px #fff, 1045px 1434px #fff,
    20px 1771px #fff, 1872px 631px #fff, 1955px 1883px #fff, 1740px 658px #fff,
    1717px 1139px #fff, 983px 1729px #fff, 536px 351px #fff, 570px 300px #fff,
    598px 1779px #fff, 99px 1821px #fff, 715px 1171px #fff, 1897px 1162px #fff,
    247px 1233px #fff, 1932px 1714px #fff, 1460px 1714px #fff, 1834px 607px #fff,
    1104px 1959px #fff, 1117px 1190px #fff, 1205px 1302px #fff,
    1923px 1263px #fff, 936px 307px #fff, 1222px 1408px #fff, 861px 209px #fff,
    1777px 688px #fff, 110px 1144px #fff, 1637px 485px #fff, 335px 1665px #fff,
    1010px 326px #fff, 1577px 398px #fff, 825px 542px #fff, 1664px 1899px #fff,
    188px 1992px #fff, 740px 1069px #fff, 117px 941px #fff, 1490px 1583px #fff,
    1735px 1817px #fff, 1102px 52px #fff, 1684px 50px #fff, 1104px 76px #fff,
    1284px 963px #fff, 1062px 1818px #fff, 1774px 1397px #fff, 157px 1100px #fff,
    1419px 331px #fff, 1498px 1413px #fff, 667px 954px #fff, 1412px 1460px #fff,
    1026px 1072px #fff, 364px 689px #fff, 1800px 1341px #fff, 1958px 830px #fff,
    1487px 1739px #fff, 501px 1548px #fff, 1319px 735px #fff, 1186px 1388px #fff,
    850px 978px #fff, 1298px 1992px #fff, 1108px 314px #fff, 450px 769px #fff,
    1045px 1085px #fff, 1481px 1794px #fff, 544px 189px #fff, 888px 1130px #fff,
    97px 1942px #fff, 1610px 531px #fff, 110px 531px #fff, 1299px 1745px #fff,
    963px 1867px #fff, 493px 185px #fff, 1468px 1157px #fff, 522px 34px #fff,
    1529px 81px #fff, 559px 773px #fff, 350px 1810px #fff, 1652px 1926px #fff,
    183px 1614px #fff, 1199px 1373px #fff, 1895px 1625px #fff, 1987px 488px #fff,
    985px 1833px #fff, 216px 1568px #fff, 691px 1881px #fff, 1330px 392px #fff,
    1081px 1311px #fff, 81px 155px #fff, 267px 993px #fff, 20px 1136px #fff,
    659px 381px #fff, 120px 1615px #fff, 549px 502px #fff, 96px 1036px #fff,
    1326px 890px #fff, 1402px 290px #fff, 846px 971px #fff, 1345px 1887px #fff,
    4px 1157px #fff, 1744px 1957px #fff, 813px 1412px #fff, 201px 76px #fff,
    197px 218px #fff, 1838px 430px #fff, 1191px 367px #fff, 1790px 571px #fff,
    1850px 1861px #fff, 486px 97px #fff, 2000px 660px #fff, 1060px 1202px #fff,
    1525px 1212px #fff, 708px 1320px #fff, 1079px 267px #fff, 268px 1153px #fff,
    1628px 1755px #fff, 1352px 624px #fff, 1999px 175px #fff, 1582px 9px #fff,
    1319px 38px #fff, 986px 1156px #fff, 417px 1816px #fff, 429px 1719px #fff,
    1748px 318px #fff, 564px 681px #fff, 845px 1389px #fff, 1452px 1663px #fff,
    1232px 1924px #fff, 1723px 555px #fff, 1035px 1622px #fff, 692px 687px #fff,
    439px 89px #fff, 452px 738px #fff, 1601px 1549px #fff, 1412px 1953px #fff,
    271px 1379px #fff, 1885px 1070px #fff, 270px 1993px #fff, 909px 2000px #fff,
    1816px 634px #fff, 1599px 1667px #fff, 1037px 1989px #fff,
    1794px 1763px #fff, 137px 1173px #fff, 650px 690px #fff, 2000px 589px #fff,
    1203px 1856px #fff, 1316px 1507px #fff, 1580px 390px #fff, 967px 1916px #fff,
    890px 927px #fff, 168px 1799px #fff, 1340px 177px #fff, 1311px 525px #fff,
    1724px 436px #fff, 1012px 149px #fff, 1284px 349px #fff, 756px 985px #fff,
    476px 629px #fff, 629px 249px #fff, 42px 891px #fff, 529px 1420px #fff,
    1631px 1829px #fff, 964px 1459px #fff, 1800px 630px #fff, 1299px 1437px #fff,
    1723px 1507px #fff, 518px 69px #fff, 1041px 1231px #fff, 789px 1399px #fff,
    115px 1833px #fff, 202px 1945px #fff, 618px 64px #fff, 898px 752px #fff,
    309px 1475px #fff, 1301px 574px #fff, 16px 1133px #fff, 1435px 800px #fff,
    1495px 800px #fff, 901px 65px #fff, 1116px 631px #fff, 1070px 1073px #fff,
    13px 940px #fff, 437px 1295px #fff, 256px 1598px #fff, 615px 819px #fff,
    1482px 99px #fff, 1423px 1997px #fff, 639px 300px #fff, 779px 213px #fff,
    834px 1028px #fff, 756px 1863px #fff, 1930px 1429px #fff, 72px 1816px #fff,
    1659px 1132px #fff, 643px 1975px #fff, 1821px 1535px #fff,
    1887px 1802px #fff, 73px 587px #fff, 1260px 861px #fff, 1125px 1891px #fff,
    607px 136px #fff, 219px 1132px #fff, 1105px 443px #fff, 1204px 450px #fff,
    462px 1698px #fff, 156px 638px #fff, 655px 389px #fff, 914px 301px #fff,
    66px 315px #fff, 775px 1452px #fff, 1249px 1121px #fff, 224px 1997px #fff,
    750px 959px #fff, 1756px 1285px #fff, 1764px 1446px #fff, 1676px 1543px #fff,
    983px 708px #fff, 743px 167px #fff, 687px 936px #fff, 1282px 1707px #fff,
    1773px 1497px #fff, 226px 875px #fff, 1199px 471px #fff, 1864px 970px #fff,
    616px 1789px #fff, 1715px 1051px #fff, 1003px 1222px #fff, 1657px 286px #fff,
    1908px 1275px #fff, 191px 267px #fff, 1646px 1768px #fff, 735px 41px #fff,
    1387px 1384px #fff, 212px 1269px #fff, 20px 95px #fff, 810px 1841px #fff,
    162px 1560px #fff, 1591px 771px #fff, 1268px 83px #fff, 1615px 1270px #fff,
    649px 281px #fff, 452px 579px #fff, 1447px 845px #fff, 1562px 76px #fff,
    401px 1633px #fff, 1648px 1382px #fff, 1394px 168px #fff, 1770px 321px #fff,
    1089px 354px #fff, 1794px 1562px #fff, 905px 1258px #fff, 340px 1118px #fff,
    224px 1908px #fff, 156px 616px #fff, 1023px 1674px #fff, 803px 1656px #fff,
    1392px 819px #fff, 6px 957px #fff, 1510px 388px #fff, 301px 1552px #fff,
    1952px 586px #fff, 1606px 315px #fff, 990px 1242px #fff, 1192px 770px #fff,
    373px 823px #fff, 316px 11px #fff, 852px 653px #fff, 1001px 496px #fff,
    946px 454px #fff, 966px 422px #fff, 245px 788px #fff, 1412px 966px #fff,
    128px 582px #fff, 51px 1808px #fff, 1012px 1973px #fff, 593px 399px #fff,
    1531px 1190px #fff, 897px 1005px #fff, 1237px 924px #fff, 265px 1277px #fff,
    634px 960px #fff, 141px 1931px #fff, 783px 1746px #fff, 1225px 318px #fff,
    1548px 1723px #fff, 1728px 50px #fff, 1852px 922px #fff, 1963px 24px #fff,
    1282px 1639px #fff, 606px 864px #fff, 1732px 972px #fff, 609px 1112px #fff,
    1582px 404px #fff, 1922px 1554px #fff, 317px 973px #fff, 1157px 1876px #fff,
    1032px 1178px #fff, 1176px 393px #fff, 895px 1566px #fff, 737px 777px #fff,
    268px 737px #fff, 60px 1616px #fff, 183px 772px #fff, 454px 1104px #fff,
    1364px 1880px #fff, 159px 1889px #fff, 324px 901px #fff, 794px 197px #fff,
    1321px 1806px #fff, 912px 1913px #fff, 711px 562px #fff, 363px 392px #fff,
    916px 870px #fff, 1709px 837px #fff, 133px 510px #fff, 586px 145px #fff,
    1662px 297px #fff, 1282px 1043px #fff, 971px 1184px #fff, 1570px 552px #fff,
    959px 1889px #fff, 1432px 1772px #fff, 744px 1336px #fff, 666px 103px #fff,
    1626px 372px #fff, 1762px 947px #fff, 1661px 1620px #fff, 582px 563px #fff,
    1304px 83px #fff, 1744px 314px #fff, 1750px 198px #fff, 1482px 1813px #fff,
    1375px 1301px #fff, 986px 1012px #fff, 967px 711px #fff, 1587px 153px #fff,
    21px 625px #fff, 1706px 339px #fff, 354px 146px #fff, 1935px 250px #fff,
    189px 115px #fff, 1445px 465px #fff, 457px 915px #fff, 1853px 59px #fff,
    124px 1254px #fff, 983px 91px #fff, 1483px 1169px #fff, 25px 1482px #fff,
    1526px 1119px #fff, 1124px 1749px #fff, 78px 1091px #fff, 502px 571px #fff,
    1080px 1172px #fff, 82px 1113px #fff, 1281px 1345px #fff, 939px 185px #fff,
    1703px 1331px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1920px 756px #fff, 283px 1354px #fff, 251px 67px #fff,
    1816px 948px #fff, 171px 1019px #fff, 1839px 359px #fff, 1646px 1113px #fff,
    1951px 358px #fff, 1898px 116px #fff, 878px 1720px #fff, 242px 1386px #fff,
    856px 1032px #fff, 622px 26px #fff, 1423px 1008px #fff, 1573px 1842px #fff,
    1956px 1827px #fff, 135px 1455px #fff, 613px 676px #fff, 1246px 361px #fff,
    1492px 1997px #fff, 1253px 447px #fff, 1097px 492px #fff, 1174px 613px #fff,
    1739px 1255px #fff, 101px 795px #fff, 814px 603px #fff, 787px 674px #fff,
    1448px 1809px #fff, 1997px 1869px #fff, 550px 1394px #fff,
    1458px 1817px #fff, 1434px 1121px #fff, 939px 93px #fff, 1000px 852px #fff,
    578px 993px #fff, 1782px 540px #fff, 1387px 228px #fff, 1957px 1398px #fff,
    1387px 598px #fff, 1781px 1745px #fff, 847px 1551px #fff, 630px 1750px #fff,
    476px 878px #fff, 675px 1774px #fff, 1821px 1348px #fff, 1042px 1147px #fff,
    1058px 282px #fff, 1179px 536px #fff, 294px 555px #fff, 459px 1236px #fff,
    1709px 181px #fff, 468px 1389px #fff, 1801px 94px #fff, 1032px 87px #fff,
    1782px 1755px #fff, 764px 1977px #fff, 477px 792px #fff, 31px 810px #fff,
    1040px 1896px #fff, 814px 440px #fff, 1484px 268px #fff, 1698px 868px #fff,
    1427px 746px #fff, 19px 1605px #fff, 1751px 829px #fff, 805px 1486px #fff,
    491px 1351px #fff, 1223px 1460px #fff, 1114px 9px #fff, 1680px 66px #fff,
    488px 1787px #fff, 1719px 1872px #fff, 1404px 505px #fff, 935px 114px #fff,
    1165px 1785px #fff, 108px 1728px #fff, 1108px 1669px #fff, 1801px 652px #fff,
    1117px 1075px #fff, 1127px 223px #fff, 1981px 1651px #fff,
    1811px 1404px #fff, 786px 441px #fff, 713px 467px #fff, 974px 1403px #fff,
    1883px 597px #fff, 47px 438px #fff, 74px 301px #fff, 809px 23px #fff,
    1292px 140px #fff, 1234px 915px #fff, 1071px 1414px #fff, 1058px 1924px #fff,
    1640px 70px #fff, 1663px 1163px #fff, 561px 514px #fff, 1703px 106px #fff,
    795px 1732px #fff, 356px 1797px #fff, 775px 1553px #fff, 1242px 1358px #fff,
    1301px 1843px #fff, 1231px 1234px #fff, 198px 1273px #fff, 289px 510px #fff,
    670px 1541px #fff, 1719px 422px #fff, 863px 900px #fff, 1436px 392px #fff,
    1663px 544px #fff, 979px 1145px #fff, 374px 1501px #fff, 528px 506px #fff,
    1926px 1104px #fff, 1579px 579px #fff, 1076px 1524px #fff,
    1925px 1536px #fff, 1034px 778px #fff, 833px 377px #fff, 247px 1868px #fff,
    1372px 68px #fff, 581px 657px #fff, 505px 1912px #fff, 1340px 1973px #fff,
    1251px 115px #fff, 105px 772px #fff, 1475px 812px #fff, 1909px 1617px #fff,
    1476px 924px #fff, 640px 1034px #fff, 1638px 1701px #fff, 314px 694px #fff,
    959px 1397px #fff, 1334px 1209px #fff, 834px 928px #fff, 1392px 185px #fff,
    953px 245px #fff, 1210px 1145px #fff, 1821px 1828px #fff, 770px 1190px #fff,
    1935px 386px #fff, 1531px 1586px #fff, 1284px 1245px #fff,
    1768px 1879px #fff, 1417px 1261px #fff, 296px 557px #fff, 1181px 457px #fff,
    1591px 1214px #fff, 89px 1143px #fff, 1424px 1536px #fff, 1232px 782px #fff,
    388px 582px #fff, 699px 1634px #fff, 87px 929px #fff, 300px 381px #fff,
    272px 369px #fff, 446px 1954px #fff, 297px 419px #fff, 91px 228px #fff,
    1641px 877px #fff, 260px 974px #fff, 826px 6px #fff, 616px 831px #fff,
    746px 550px #fff, 926px 1991px #fff, 616px 179px #fff, 280px 893px #fff,
    654px 164px #fff, 817px 540px #fff, 298px 1107px #fff, 1702px 288px #fff,
    837px 1165px #fff, 808px 317px #fff, 1636px 498px #fff, 343px 1512px #fff,
    612px 1264px #fff, 979px 1088px #fff, 1585px 786px #fff, 953px 385px #fff,
    390px 1836px #fff, 1593px 1352px #fff, 1603px 1766px #fff,
    1405px 1764px #fff, 593px 1597px #fff, 924px 1296px #fff, 1577px 839px #fff,
    1594px 974px #fff, 141px 214px #fff, 1852px 1792px #fff, 1511px 1443px #fff,
    874px 895px #fff, 1737px 973px #fff, 1835px 1314px #fff, 443px 619px #fff,
    1937px 413px #fff, 1747px 1545px #fff, 1862px 618px #fff, 1556px 1366px #fff,
    1685px 1936px #fff, 1722px 124px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1920px 756px #fff, 283px 1354px #fff, 251px 67px #fff,
    1816px 948px #fff, 171px 1019px #fff, 1839px 359px #fff, 1646px 1113px #fff,
    1951px 358px #fff, 1898px 116px #fff, 878px 1720px #fff, 242px 1386px #fff,
    856px 1032px #fff, 622px 26px #fff, 1423px 1008px #fff, 1573px 1842px #fff,
    1956px 1827px #fff, 135px 1455px #fff, 613px 676px #fff, 1246px 361px #fff,
    1492px 1997px #fff, 1253px 447px #fff, 1097px 492px #fff, 1174px 613px #fff,
    1739px 1255px #fff, 101px 795px #fff, 814px 603px #fff, 787px 674px #fff,
    1448px 1809px #fff, 1997px 1869px #fff, 550px 1394px #fff,
    1458px 1817px #fff, 1434px 1121px #fff, 939px 93px #fff, 1000px 852px #fff,
    578px 993px #fff, 1782px 540px #fff, 1387px 228px #fff, 1957px 1398px #fff,
    1387px 598px #fff, 1781px 1745px #fff, 847px 1551px #fff, 630px 1750px #fff,
    476px 878px #fff, 675px 1774px #fff, 1821px 1348px #fff, 1042px 1147px #fff,
    1058px 282px #fff, 1179px 536px #fff, 294px 555px #fff, 459px 1236px #fff,
    1709px 181px #fff, 468px 1389px #fff, 1801px 94px #fff, 1032px 87px #fff,
    1782px 1755px #fff, 764px 1977px #fff, 477px 792px #fff, 31px 810px #fff,
    1040px 1896px #fff, 814px 440px #fff, 1484px 268px #fff, 1698px 868px #fff,
    1427px 746px #fff, 19px 1605px #fff, 1751px 829px #fff, 805px 1486px #fff,
    491px 1351px #fff, 1223px 1460px #fff, 1114px 9px #fff, 1680px 66px #fff,
    488px 1787px #fff, 1719px 1872px #fff, 1404px 505px #fff, 935px 114px #fff,
    1165px 1785px #fff, 108px 1728px #fff, 1108px 1669px #fff, 1801px 652px #fff,
    1117px 1075px #fff, 1127px 223px #fff, 1981px 1651px #fff,
    1811px 1404px #fff, 786px 441px #fff, 713px 467px #fff, 974px 1403px #fff,
    1883px 597px #fff, 47px 438px #fff, 74px 301px #fff, 809px 23px #fff,
    1292px 140px #fff, 1234px 915px #fff, 1071px 1414px #fff, 1058px 1924px #fff,
    1640px 70px #fff, 1663px 1163px #fff, 561px 514px #fff, 1703px 106px #fff,
    795px 1732px #fff, 356px 1797px #fff, 775px 1553px #fff, 1242px 1358px #fff,
    1301px 1843px #fff, 1231px 1234px #fff, 198px 1273px #fff, 289px 510px #fff,
    670px 1541px #fff, 1719px 422px #fff, 863px 900px #fff, 1436px 392px #fff,
    1663px 544px #fff, 979px 1145px #fff, 374px 1501px #fff, 528px 506px #fff,
    1926px 1104px #fff, 1579px 579px #fff, 1076px 1524px #fff,
    1925px 1536px #fff, 1034px 778px #fff, 833px 377px #fff, 247px 1868px #fff,
    1372px 68px #fff, 581px 657px #fff, 505px 1912px #fff, 1340px 1973px #fff,
    1251px 115px #fff, 105px 772px #fff, 1475px 812px #fff, 1909px 1617px #fff,
    1476px 924px #fff, 640px 1034px #fff, 1638px 1701px #fff, 314px 694px #fff,
    959px 1397px #fff, 1334px 1209px #fff, 834px 928px #fff, 1392px 185px #fff,
    953px 245px #fff, 1210px 1145px #fff, 1821px 1828px #fff, 770px 1190px #fff,
    1935px 386px #fff, 1531px 1586px #fff, 1284px 1245px #fff,
    1768px 1879px #fff, 1417px 1261px #fff, 296px 557px #fff, 1181px 457px #fff,
    1591px 1214px #fff, 89px 1143px #fff, 1424px 1536px #fff, 1232px 782px #fff,
    388px 582px #fff, 699px 1634px #fff, 87px 929px #fff, 300px 381px #fff,
    272px 369px #fff, 446px 1954px #fff, 297px 419px #fff, 91px 228px #fff,
    1641px 877px #fff, 260px 974px #fff, 826px 6px #fff, 616px 831px #fff,
    746px 550px #fff, 926px 1991px #fff, 616px 179px #fff, 280px 893px #fff,
    654px 164px #fff, 817px 540px #fff, 298px 1107px #fff, 1702px 288px #fff,
    837px 1165px #fff, 808px 317px #fff, 1636px 498px #fff, 343px 1512px #fff,
    612px 1264px #fff, 979px 1088px #fff, 1585px 786px #fff, 953px 385px #fff,
    390px 1836px #fff, 1593px 1352px #fff, 1603px 1766px #fff,
    1405px 1764px #fff, 593px 1597px #fff, 924px 1296px #fff, 1577px 839px #fff,
    1594px 974px #fff, 141px 214px #fff, 1852px 1792px #fff, 1511px 1443px #fff,
    874px 895px #fff, 1737px 973px #fff, 1835px 1314px #fff, 443px 619px #fff,
    1937px 413px #fff, 1747px 1545px #fff, 1862px 618px #fff, 1556px 1366px #fff,
    1685px 1936px #fff, 1722px 124px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 756px 198px #fff, 1470px 1564px #fff, 519px 382px #fff,
    557px 1450px #fff, 160px 791px #fff, 1271px 864px #fff, 1184px 244px #fff,
    116px 1647px #fff, 1322px 1223px #fff, 1819px 13px #fff, 634px 1704px #fff,
    724px 1749px #fff, 637px 357px #fff, 1698px 403px #fff, 575px 1040px #fff,
    1250px 1339px #fff, 533px 722px #fff, 795px 720px #fff, 1472px 212px #fff,
    228px 213px #fff, 1904px 1491px #fff, 1370px 315px #fff, 1160px 410px #fff,
    304px 1882px #fff, 1536px 1143px #fff, 542px 868px #fff, 963px 1791px #fff,
    1512px 308px #fff, 1640px 827px #fff, 1918px 959px #fff, 1739px 1728px #fff,
    1445px 1515px #fff, 1981px 1882px #fff, 535px 1406px #fff,
    1674px 1861px #fff, 648px 1105px #fff, 720px 535px #fff, 1366px 987px #fff,
    1860px 874px #fff, 933px 1277px #fff, 1801px 255px #fff, 1817px 636px #fff,
    1402px 1640px #fff, 800px 1295px #fff, 530px 1206px #fff, 1465px 1018px #fff,
    1501px 964px #fff, 1230px 1328px #fff, 299px 1629px #fff, 468px 257px #fff,
    1530px 485px #fff, 182px 727px #fff, 1880px 1558px #fff, 1733px 1982px #fff,
    928px 518px #fff, 897px 1765px #fff, 1179px 232px #fff, 943px 1496px #fff,
    435px 1730px #fff, 764px 1691px #fff, 1069px 1326px #fff, 332px 970px #fff,
    1133px 1px #fff, 1213px 654px #fff, 1785px 1173px #fff, 274px 1963px #fff,
    718px 1741px #fff, 613px 62px #fff, 714px 343px #fff, 127px 1649px #fff,
    531px 1273px #fff, 1476px 1198px #fff, 1295px 63px #fff, 1478px 1319px #fff,
    1371px 1730px #fff, 1485px 1647px #fff, 1197px 1927px #fff,
    1255px 419px #fff, 1507px 1520px #fff, 909px 1979px #fff, 423px 877px #fff,
    832px 584px #fff, 233px 230px #fff, 1806px 616px #fff, 674px 1888px #fff,
    770px 1217px #fff, 742px 1653px #fff, 631px 1202px #fff, 1501px 728px #fff,
    1820px 1478px #fff, 1312px 132px #fff, 1178px 704px #fff, 955px 1265px #fff,
    726px 122px #fff, 753px 1606px #fff, 1168px 1619px #fff, 985px 1714px #fff,
    168px 382px #fff, 942px 1352px #fff, 325px 1317px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 756px 198px #fff, 1470px 1564px #fff, 519px 382px #fff,
    557px 1450px #fff, 160px 791px #fff, 1271px 864px #fff, 1184px 244px #fff,
    116px 1647px #fff, 1322px 1223px #fff, 1819px 13px #fff, 634px 1704px #fff,
    724px 1749px #fff, 637px 357px #fff, 1698px 403px #fff, 575px 1040px #fff,
    1250px 1339px #fff, 533px 722px #fff, 795px 720px #fff, 1472px 212px #fff,
    228px 213px #fff, 1904px 1491px #fff, 1370px 315px #fff, 1160px 410px #fff,
    304px 1882px #fff, 1536px 1143px #fff, 542px 868px #fff, 963px 1791px #fff,
    1512px 308px #fff, 1640px 827px #fff, 1918px 959px #fff, 1739px 1728px #fff,
    1445px 1515px #fff, 1981px 1882px #fff, 535px 1406px #fff,
    1674px 1861px #fff, 648px 1105px #fff, 720px 535px #fff, 1366px 987px #fff,
    1860px 874px #fff, 933px 1277px #fff, 1801px 255px #fff, 1817px 636px #fff,
    1402px 1640px #fff, 800px 1295px #fff, 530px 1206px #fff, 1465px 1018px #fff,
    1501px 964px #fff, 1230px 1328px #fff, 299px 1629px #fff, 468px 257px #fff,
    1530px 485px #fff, 182px 727px #fff, 1880px 1558px #fff, 1733px 1982px #fff,
    928px 518px #fff, 897px 1765px #fff, 1179px 232px #fff, 943px 1496px #fff,
    435px 1730px #fff, 764px 1691px #fff, 1069px 1326px #fff, 332px 970px #fff,
    1133px 1px #fff, 1213px 654px #fff, 1785px 1173px #fff, 274px 1963px #fff,
    718px 1741px #fff, 613px 62px #fff, 714px 343px #fff, 127px 1649px #fff,
    531px 1273px #fff, 1476px 1198px #fff, 1295px 63px #fff, 1478px 1319px #fff,
    1371px 1730px #fff, 1485px 1647px #fff, 1197px 1927px #fff,
    1255px 419px #fff, 1507px 1520px #fff, 909px 1979px #fff, 423px 877px #fff,
    832px 584px #fff, 233px 230px #fff, 1806px 616px #fff, 674px 1888px #fff,
    770px 1217px #fff, 742px 1653px #fff, 631px 1202px #fff, 1501px 728px #fff,
    1820px 1478px #fff, 1312px 132px #fff, 1178px 704px #fff, 955px 1265px #fff,
    726px 122px #fff, 753px 1606px #fff, 1168px 1619px #fff, 985px 1714px #fff,
    168px 382px #fff, 942px 1352px #fff, 325px 1317px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.buttonDiv {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 30px;
  flex-wrap: wrap;
}

.buttonDiv button {
  background-color: transparent;
  color: white;
  padding: 10px 30px;
  font-size: 1.2rem;
}
.loading {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 2rem;
}
.selectCamera {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
}
.infoCamera {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  align-items: center;
  background-color: transparent;
  color: white;
  cursor: pointer;
  margin: auto;
}

@media (max-width: 600px) {
  .selectCamera {
    font-size: 1.5rem;
    margin: auto;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .infoCamera {
    font-size: 1.5rem;
  }
}
